<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Ben Lorantfy" />
   
   <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
   <link href="/css/theme.css" rel="stylesheet" type="text/css" />
   
</head>
<body>

<div class="site">
  
  {{ content }}
  

</div>

<div id="footerBackground">
   <div id="footer">
    
   </div>
</div>

